@charset "UTF-8";

body {
    /* Display & Box Model */
    width: 1920px;
    margin: 0;
    overflow-x: hidden;
    /* Text */
    font-family: '나눔고딕', 'Nanum Gothic', '돋움', Dotum, sans-serif;

}

header {
    /* Display & Box Model */
    height: 120px;
    /* Color */
    background-color: #000;
    color: #fff;
}

header h1 {
    /* Display & Box Model */
    padding-left: 40px;
    margin: 0 420px;
    /* Text */
    font-size: 40px;
    line-height: 120px;
}

main {
    /* Display & Box Model */
    display: block;
    width: 1080px;
    margin: auto;
    margin-bottom: 40px;
}

nav {
    /* Display & Box Model */
    padding: 0 33px;
    /* Text */
    font-size: 0;
}

.menu {
    /* Display & Box Model */
    display: inline-block;
    width: 322px;
    height: 33px;
    border: 1px solid #d1d1d1;
    margin: 40px 7px;
    /* Color */
    color: #000;
    /* Text */
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}

.menu:hover {
    /* Display & Box Model */
    border: 1px solid #454545;
    /* Text */
    font-weight: bold;
}

article {
    /* Display & Box Model */
    padding: 0 40px;
    margin-top: 10px;
}

article h2 {
    /* Display & Box Model */
    padding-bottom: 20px;
    border-bottom: 1px solid #454545;
    margin: 0;
    /* Color */
    color: #000;
    /* Text */
    font-size: 20px;
}

.contents {
    /* Display & Box Model */
    padding: 0;
    margin: 30px 0;
}

.contents h3 {
    /* Display & Box Model */
    height: 46px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
    margin: 0;
    /* Color */
    background-color: #f7f7f7;
    color: #333;
    /* Text */
    font-size: 16px;
    line-height: 46px;
}

.contents article {
    /* Display & Box Model */
    height: auto;
    padding: 30px;
    border: 1px solid #d1d1d1;
    border-top: none;
    margin: 0;
    /* Text */
    font-size: 12px;
}

.tables table {
    /* Display & Box Model */
    border-collapse: collapse;
}

.sizeTable {
    /* Display & Box Model */
    width: 100%;
    margin-bottom: 45px;
    /* Color */
    color: #555;
}

.sizeTable caption {
    /* Display & Box Model */
    margin-bottom: 15px;
    /* Color */
    color: #000;
    /* Text */
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.sizeTable colgroup .single {width: 85px;}

.sizeTable colgroup .double {width: 170px;}

.sizeTable thead {
    /* Color */
    background-color: #fbfbfb;
}

.sizeTable th, .sizeTable td {
    /* Display & Box Model */
    height: 35px;
    border: 1px solid #e4e4e4;
    /* Text */
    text-align: center;
}

.refundTable {
    /* Display & Box Model */
    width: 100%;
    /* Color */
    color: #555;
}

.refundTable caption {
    /* Display & Box Model */
    margin-bottom: 15px;
    /* Color */
    color: #000;
    /* Text */
    font-size: 14px;
    font-weight: bold;
    text-align: left;
}

.refundTable colgroup .single {width: 187px;}

.refundTable thead {
    /* Display & Box Model */
    border-top: 2px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    /* Color */
    background-color: #fbfbfb;
}

.refundTable tfoot {
    /* Display & Box Model */
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #e4e4e4;
    /* Text */
    font-weight: bold;
}

.refundTable th {
    /* Display & Box Model */
    height: 35px;
    /* Text */
    font-weight: normal;
}

.refundTable tfoot th {font-weight: bold;}

.refundTable td:not([scope]) {
    /* Display & Box Model */
    padding-right: 65px;
    /* Text */
    text-align: right;
}

.signUp {
    /* Display & Box Model */
    position: relative;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #e4e4e4;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    /* Color */
    background-color: #fbfbfb;
}

.signUp legend {
    /* Display & Box Model */
    position: absolute;
    top: -30px;
    left: 0px;
    padding: 0;
    /* Text */
    font-size: 14px;
    font-weight: bold;
    /* Color */
    color: #000;
}

.signUp textarea {resize: none;}

/* 가입하기 버튼 */
.signUp>.submitButton {
    /* Display & Box Model */
    cursor: pointer;
    width: 100%;
    height: 45px;
    border: 1px solid #08a600;
    margin-top: 20px;
    /* Text */
    font-size: 16px;
    /* Color */
    background-color: #4ec53d;
    color: #fff;
}

.labels {
    /* Display & Box Model */
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    /* Text */
    font-size: 14px;
    font-weight: bold;
    /* Color */
    color: #000;
}

.inputs {
    /* Display & Box Model */
    box-sizing: border-box;
    width: 100%;
    /* Text */
    font-size: 12px;
    /* Color */
    color: #000;
}

/* textarea를 제외한 form 요소 */
.inputs:not([rows]) {
    /* Display & Box Model */
    height: 35px;
    margin-bottom: 5px;
}

/* radio, checkbox를 제외한 form 요소 */
.inputs:not([for]) {
    /* Display & Box Model */
    border: 1px solid #e4e4e4;
}

/* 동일한 너비의 컨테이너들로 이루어진 그리드 */
.evenGrid {
    /* Display & Box Model */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    column-gap: 13px;
}

.userGender {
    /* Display & Box Model */
    display: inline-block;
    width: 110px;
    height: 17px;
    line-height: 17px;
}

.userGender input {
    /* Display & Box Model */
    margin: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
}

/* 다른 너비의 컨테이너들로 이루어진 그리드 */
.oddGrid {
    /* Display & Box Model */
    display: grid;
    grid-template-columns: auto 150px;
    column-gap: 13px;
}

/* 인증번호 받기 버튼 */
.oddGrid .submitButton {
    /* Display & Box Model */
    box-sizing: border-box;
    cursor: pointer;
    width: 150px;
    height: 35px;
    border: 1px solid #08a600;
    /* Text */
    font-size: 12px;
    /* Color */
    background-color: #4ec53d;
    color: #fff;
}

.userHobby {
    /* Display & Box Model */
    height: 17px;
    line-height: 17px;
}

.userHobby input {
    /* Display & Box Model */
    margin: 0;
    margin-right: 5px;
    margin-bottom: 2px;
    vertical-align: middle;
}

footer {
    /* Display & Box Model */
    padding-top: 20px;
    border-top: 1px solid #d1d1d1;
    /* Text */
    font-size: 12px;
    text-align: center;
}

.info {
    /* Color */
    color: #999;
}

.copyright {
    /* Color */
    color: #000;
}