@charset "UTF-8";

body {
    /* Display & Box Model */
    margin: 0;
    /* Text */
    font-family: '나눔고딕', 'Nanum Gothic', '돋움', Dotum, sans-serif;

}

header {
    /* Display & Box Model */
    height: 120px;
    padding: 0 420px;
    /* Color */
    background-color: #000;
    color: #fff;
}

header h1 {
    /* Display & Box Model */
    height: 120px;
    padding-left: 40px;
    margin: 0;
    /* Text */
    font-size: 40px;
    line-height: 120px;
}

main {
    /* Display & Box Model */
    display: block;
    width: 1080px;
    margin: auto;
    margin-bottom: 40px;
}

nav {
    /* Display & Box Model */
    padding: 0 33px;
    /* Text */
    font-size: 0;
}

.menu {
    /* Display & Box Model */
    display: inline-block;
    width: 322px;
    height: 33px;
    border: 1px solid #d1d1d1;
    margin: 40px 7px;
    /* Color */
    color: #000;
    /* Text */
    font-size: 16px;
    line-height: 33px;
    text-align: center;
}

.menu:hover {
    /* Display & Box Model */
    border: 1px solid #454545;
    /* Text */
    font-weight: bold;
}

article {
    /* Display & Box Model */
    padding: 0 40px;
    margin-top: 10px;
}

article h2 {
    /* Display & Box Model */
    padding-bottom: 20px;
    border-bottom: 1px solid #454545;
    margin: 0;
    /* Color */
    color: #000;
    /* Text */
    font-size: 20px;
}

.contents {
    /* Display & Box Model */
    padding: 0;
    margin: 30px 0;
}

.contents h3 {
    /* Display & Box Model */
    height: 46px;
    padding-left: 15px;
    border: 1px solid #d1d1d1;
    margin: 0;
    /* Color */
    background-color: #f7f7f7;
    color: #333;
    /* Text */
    font-size: 16px;
    line-height: 46px;
}

.contents p {
    /* Display & Box Model */
    height: auto;
    padding: 30px;
    border: 1px solid #d1d1d1;
    border-top: none;
    margin: 0;
    /* Color */
    color: #000;
    /* Text */
    font-size: 12px;
}

footer {
    /* Display & Box Model */
    padding-top: 20px;
    border-top: 1px solid #d1d1d1;
    /* Text */
    font-size: 12px;
    text-align: center;
}

.info {
    /* Color */
    color: #999;
}

.copyright {
    /* Color */
    color: #000;
}